.cardContainer,
.gapContainer {
  padding: 0.1rem;
}

.gapSpacer {
  width: 5px;
  height: 5px;
}

.linkContainer {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
}

.linkContainer:hover {
  
}

.imageContainer {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.locationText {
  font-size: 0.75rem;
  color: #4a5568;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 1.5rem);
}
.songContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
}

.songTitle {
  width: 100%;
}

.songQuality {
  margin-right: 0.5rem;
}

.scoreText {
  padding: 0;
  text-align: right;
  font-size: 0.75rem;
}

.excellent {
  color: green;
}

.poor {
  color: red;
}
