@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: -apple-system, "Inter", Menlo, Consolas, "Ubuntu Mono",
    "Roboto Mono", "DejaVu Sans Mono", monospace;
  background-color: #efefef;
  font-weight: bolder;
  color: #1715167e;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: #0f084b;
  color: #fff;
}

* {
  box-sizing: border-box;
}
